.wrapper
  = render "side-bar"
  .main-space
    .content-page
      .content-page__image
        = image_tag @post.image.url
      .content-page__text
        = @post.title
      .content-page__content
        = @post.content

      .btn
        = link_to "ホーム", root_path, class: "btn__home"
        - if user_signed_in? && current_user.id == @post.user_id
          = link_to "編集", edit_post_path(@post.id), class: "btn__edit"
          = link_to "削除", post_path(@post.id), method: :delete, class: "btn__delete"